<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Thank you for booking with OdinFlights</h1>
    <p>
      You have successfully booked your flight! Here;s yor itienerary: 
    </p>

    <%= @departAirport.name %> to <%= @destinationAirport.name %>

    <p>Take-off</p>
    <%= @flight.date %>, <%= @flight.departTime %>
    <p>Landing</p>
    <%= @flight.date %>, <%= @flight.arrivalTime%>
    <p>Flight duration</p>
    <%= @flight.flightDuration %>

    <p>Passenger name</p>
    <% @passengers.each do |passenger| %>
      <%= passenger.name %>
    <% end %>

  </body>
</html>