<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Thank you for booking with OdinFlights!</h1>
    <p>
      You have successfully booked your flight! Heres your itienerary: 
    </p>
    <table>
      <tr>
        <td><%= @departAirport.name %> to <%= @destinationAirport.name %></td>
      </tr>
      <tr>
        <td>Take-off</td>
        <td>Landing</td>
        <td>Flight Duration</td>
      </tr>
      <tr>
        <td><%= @flight.date %>, <%= @flight.departTime %></td>
        <td><%= @flight.date %>, <%= @flight.arrivalTime%></td>
        <td><%= @flight.flightDuration %></td>
      </tr>
    </table>

    <p>Passengers</p>
    <% @passengers.each do |passenger| %>
      <%= passenger.name.capitalize %>
    <% end %>

  </body>
</html>