<h2>Odin Flight Booker!</h2>
<div class="flightPlanner">
  <div class="searchOptions">
    <h3>From:</h3>
  </div>
  <div class="searchOptions">
    <h3>To:</h3>
  </div>
  <div class="searchOptions">
    <h3>Number of Passengers</h3>
  </div>

  <%= form_tag flights_path, method: "get" do %>
    <%= select_tag(:departId, options_for_select(@airportOptions)) %>
    <%= select_tag(:arrivalId, options_for_select(@airportOptions)) %>
    <%= select_tag(:numOfPassengers, options_for_select(@numOfPassengers)) %>
    <%= submit_tag("Look for flights", :name => nil) %>
  <% end %>
</div>

<h3>Possible Flights</h3>
  <div class="search-results">
  
    <% @possibleFlights.each do |f| %>
      <%= f.fromAirport.code %>
      <%= f.toAirport.code %>
    <% end %>
  </div>