<h2>Odin Flight Booker!</h2>
<div class="flightPlanner">
  <div class="searchOptions">
    <h3>From:</h3>
  </div>
  <div class="searchOptions">
    <h3>To:</h3>
  </div>
  <div class="searchOptions">
    <h3>Number of Passengers</h3>
  </div>

  <%= form_tag flights_path, method: "get" do %>
    <%= select_tag(:departId, options_for_select(@airportOptions)) %>
    <%= select_tag(:arrivalId, options_for_select(@airportOptions)) %>
    <%= select_tag(:numOfPassengers, options_for_select(@numOfPassengers)) %>
    <%= submit_tag("Look for flights", :name => nil) %>
  <% end %>
</div>

<% if @possibleFlights %>
  <h3>Possible Flights</h3>
    <div class="search-results">
      <table>
        <%= form_for(@booking, :url => url_for(:controller => "bookings", :action => "new"), method: :get) do |form| %>
          <% @possibleFlights.each do |f| %>
            <tr>
              <td><%= radio_button("flightData", "flightHash", f) %></td>
              <td><%= f.fromAirport.code %></td>
              <td><%= f.toAirport.code %></td>
              <td><%= f.departTime %></td>
              <td><%= f.arrivalTime %></td>
              <td><%= f.flightDuration %></td>
            </tr>
          <% end %>

          <td><%= form.submit "Submit" %></td>
        <% end %>
      </table>
    </div>
<% end %>