<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% for i in 1..@numOfPass.to_i do %>
      <%= f.fields_for :passengerList do |list| %>
        <%= list.fields_for "passenger#{i}" do |passForm| %>
          <%= passForm.input :name, label: "Passenger name" %>
          <%= passForm.input :email, placeholder: "user@domain.com"%><br>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="hid-inputs">
    <%= f.hidden_field(:flightId, :value => params["flightData"]["flightId"]) %>
  </div>

  <div class="form-actions">
    <%= f.submit "Add booking" %>
  </div>

<% end %>
