<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= simple_form_for(@passenger) do |pForm| %>
      <%= pForm.input :passenger, label: "Passenger name" %>
      <%= pForm.input :email, placeholder: "user@domain.com"%>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
