<p id="notice"><%= notice %></p>
<h1><%= @airport.code %></h1>
<h3>Departing Flights</h3>

<table>
  <tr>
    <td>Destination</td>
    <td>Duration</td>
    <td>Departure time</td>
    <td>Arrival Time</td>
  </tr>
  
  <% @airport.departingFlights.each do |flight| %>
    <tr>
      <td><%= Airport.find(flight.destinationId).code %></td>
      <td><%= flight.flightDuration %>
      <td><%= flight.departTime %>
      <td><%= flight.arrivalTime %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
